# Czyszczenie danych i przygotowanie zbioru Titanic do analizy

1. Załadowanie zbioru danych Titanic.

In [310]:
import pandas as pd

In [311]:
data = pd.read_csv ("C:/Users/Laptop/Documents/TitanicMess.tsv", sep = '\t')

2. Wykonanie funkcji head(), która wyświetla 5 pierwszych wierszy ze zbioru danych.

In [312]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,ship
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,"7,25",NaN,S,Titanic
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,"71,2833",C85,C,Titanic
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,"7,925",NaN,S,Titanic
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,"53,1",C123,S,Titanic
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,"8,05",NaN,S,Titanic

Analizując zbiór danych Titanic możemy wyróżnić następujące nazwy kolumn:
PassengerId - unikalny identyfikator,
Survived - pasażer przeżył(1) bądź zmarł(0),
Pclass - klasa, w której podróżował pasażer, możliwe wartości to: 1, 2, 3,
Name - imię pasażera,
Sex - płeć pasażera,
Age - wiek pasażera,
SibSp - liczba rodzeństwa lub obecność małżonka,
Parch - liczba rodziców lub dzieci,
Ticket - numer biletu,
Fare - cena biletu,
Cabin - numer kabiny,
Embarked - port wypłynięcia pasażera, możliwe wartości to: C = Cherbourg; Q = Queenstown; S = Southampton,
ship - nazwa statku.

3. Użycie funkcji info() do wyświetlenia informacji o formacie danych.

In [313]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  892 non-null    int64
 1   Survived     892 non-null    int64
 2   Pclass       892 non-null    int64
 3   Name         892 non-null    object
 4   Sex          892 non-null    object
 5   Age          719 non-null    object
 6   SibSp        892 non-null    int64
 7   Parch        892 non-null    int64
 8   Ticket       892 non-null    object
 9   Fare         892 non-null    object
 10  Cabin        207 non-null    object
 11  Embarked     890 non-null    object
 12  ship         892 non-null    object
dtypes: int64(5), object(8)
memory usage: 90.7+ KB

Z powyższego zestawienia możemy zobaczyć, że w zbiorze danych znajdują się 892 rekordy. Jako pierwsze rzuca nam się wystąpienie wartości pustych w kolumnie Age, Cabin oraz Embarked.

4. Dane brakujące.

In [314]:
data['Age'].isnull().sum()

173

In [315]:
data['Cabin'].isnull().sum()

685

In [316]:
data['Embarked'].isnull().sum()

2

Dzięki powyższym funkcją dowiedzieliśmy się o konkretnej liczbie brakujących wartości w poprzednio wskazanych kolumnach. Ponieważ brakujących wartości w kolumnie "Embarked" jest zaledwie 0,2% to zdecydujemy się na usunięcie tych wierszy. Kolumna "Cabin" nie dostarcza nam żadnej pożytecznej wiedzy, posiada aż 76% wartości pustych, dlatego decydujemy się na jej całkowite usunięcie, ponieważ jest bezużyteczna i wpłynie na każdy model uczenia maszynowego. Jeśli chodzi o kolumnę "Age" usunięcie wartości pustych oraz inne rozwiązania problemów zostaną opisane poniżej. Dodatkowo zostanie przez nas usunięta cała kolumna "ship", ponieważ nie spełnia ona żadnej ważnej roli w zbiorze.

In [317]:
data = data.dropna(subset=['Embarked']) #usunięcie pustych wierszy z kolumny Embarked

In [318]:
data['Embarked'].isnull().values.any() #sprawdzenie czy kolumna Embarked posiada wartości puste

False

In [319]:
data = data.drop('Cabin', 1) #usunięcie całej kolumny Cabin

In [320]:
data = data.drop('ship', 1) #usunięcie całej kolumny ship

In [321]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 890 entries, 0 to 891
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  890 non-null    int64
 1   Survived     890 non-null    int64
 2   Pclass       890 non-null    int64
 3   Name         890 non-null    object
 4   Sex          890 non-null    object
 5   Age          717 non-null    object
 6   SibSp        890 non-null    int64
 7   Parch        890 non-null    int64
 8   Ticket       890 non-null    object
 9   Fare         890 non-null    object
 10  Embarked     890 non-null    object
dtypes: int64(5), object(6)
memory usage: 83.4+ KB

5. Przejrzenie wartości w danych kolumnach.

In [322]:
data['Survived'].unique()

array([0, 1], dtype=int64)

In [323]:
data['Pclass'].unique()

array([3, 1, 2], dtype=int64)

In [324]:
data['Name'].unique()

array(['Braund, Mr. Owen Harris',
       'Cumings, Mrs. John Bradley (Florence Briggs Thayer)',
       'Heikkinen, Miss. Laina',
       'Futrelle, Mrs. Jacques Heath (Lily May Peel)',
       'Allen, Mr. William Henry', 'Moran, Mr. James',
       'McCarthy, Mr. Timothy J', 'Palsson, Master. Gosta Leonard',
       'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)',
       'Nasser, Mrs. Nicholas (Adele Achem)',
       'Sandstrom, Miss. Marguerite Ru&5$$', 'Bonnell, Miss. Elizabeth',
       'Saundercock, Mr. William Henry',
       'Vestrom, Miss. Hulda Amanda Adolfina',
       'Hewlett, Mrs. (Mary D Kingcome)', 'Rice, Master. Eugene',
       'Williams, Mr. Charles Eugene',
       'Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)',
       'Masselmani, Mrs. Fatima', 'Fynney, Mr. Joseph J',
       'Beesley, Mr. Lawrence', 'McGowan, Miss. Anna "Annie"',
       'Palsson, Miss. Torborg Danira',
       'Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)',
       'Emir, Mr. Farred Chehab', 'Fortune, Mr. Charles Alexander',
       'O\'Dwyer, Miss. Ellen "Nellie"', 'Todoroff, Mr. Lalio',
       'Uruchurtu, Don. Manuel E',
       'Spencer, Mrs. William Augustus (Marie Eugenie)',
       'Glynn, Miss. Mary Agatha', 'Wheadon, Mr. Edward H',
       'Meyer, Mr. Edgar Joseph', 'Holverson, Mr. Alexander Oskar',
       'Mamee, Mr. Hanna', 'Cann, Mr. Ernest Charles',
       'Vander Planke, Miss. Augusta Maria',
       'Nicola-Yarred, Miss. Jamila',
       'Ahlin, Mrs. Johan (Johanna Persdotter Larsson)',
       'Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)',
       'Kraeff, Mr. Theodor', 'Laroche, Miss. Simonne Marie Anne Andree',
       'Devaney, Miss. Margaret Delia', 'Rogers, Mr. William John',
       'Lennon, Mr. Denis', "O'Driscoll, Miss. Bridget",
       'Samaan, Mr. Youssef',
       'Arnold-Franchi, Mrs. Josef (Josefine Franchi)',
       'Panula, Master. Juha Niilo', 'Nosworthy, Mr. Richard Cater',
       'Harper, Mrs. Henry Sleeper (Myna Haxtun)',
       'Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)',
       'Ostby, Mr. Engelhart Cornelius', 'Woolner, Mr. Hugh',
       'Rugg, Miss. Emily', 'Novel, Mr. Mansouer',
       'West, Miss. Constance Mirium',
       'Goodwin, Master. William Frederick', 'Sirayanian, Mr. Orsen',
       'Harris, Mr. Henry Birkhardt', 'Skoog, Master. Harald',
       'Stewart, Mr. Albert A', 'Moubarek, Master. Gerios',
       'Nye, Mrs. (Elizabeth Ramell)', 'Crease, Mr. Ernest James',
       'Andersson, Miss. Erna Alexandra', 'Kink, Mr. Vincenz',
       'Jenkin, Mr. Stephen Curnow', 'Goodwin, Miss. Lillian Amy',
       'Hood, Mr. Ambrose Jr', 'Chronopoulos, Mr. Apostolos',
       'Bing, Mr. Lee', 'Moen, Mr. Sigurd Hansen', 'Staneff, Mr. Ivan',
       'Moutal, Mr. Rahamin Haim', 'Caldwell, Master. Alden Gates',
       'Dowdell, Miss. Elizabeth', 'Waelens, Mr. Achille',
       'Sheerlinck, Mr. Jan Baptist', 'McDermott, Miss. Brigdet Delia',
       'Carrau, Mr. Francisco M', 'Ilett, Miss. Bertha',
       'Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)',
       'Ford, Mr. William Neal', 'Slocovski, Mr. Selman Francis',
       'Fortune, Miss. Mabel Helen', 'Celotti, Mr. Francesco',
       'Christmann, Mr. Emil', 'Andreasson, Mr. Paul Edvin',
       'Chaffee, Mr. Herbert Fuller', 'Dean, Mr. Bertram Frank',
       'Coxon, Mr. Daniel', 'Shorney, Mr. Charles Joseph',
       'Goldschmidt, Mr. George B', 'Greenfield, Mr. William Bertram',
       'Doling, Mrs. John T (Ada Julia Bone)', 'Kantor, Mr. Sinai',
       'Petranec, Miss. Matilda', 'Petroff, Mr. Pastcho ("Pentcho")',
       'White, Mr. Richard Frasar', 'Johansson, Mr. Gustaf Joel',
       'Gustafsson, Mr. Anders Vilhelm', 'Mionoff, Mr. Stoytcho',
       'Salkjelsvik, Miss. Anna Kristine', 'Moss, Mr. Albert Johan',
       'Rekic, Mr. Tido', 'Moran, Miss. Bertha',
       'Porter, Mr. Walter Chamberlain', 'Zabour, Miss. Hileni',
       'Barton, Mr. David John', 'Jussila, Miss. Katriina',
       'Attalah, Miss. Malake', 'Pekoniemi, Mr. Edvard',
       'Connors, Mr. Patrick', 'Turpin, Mr. William John Robert',
       'Baxter, Mr. Quigg Edmond', 'Andersson, Miss. Ellis Anna Maria',
       'Hickman, Mr. Stanley George', 'Moore, Mr. Leonard Charles',
       'Nasser, Mr. Nicholas', 'Webber, Miss. Susan',
       'White, Mr. Percival Wayland', 'Nicola-Yarred, Master. Elias',
       'McMahon, Mr. Martin', 'Madsen, Mr. Fridtjof Arne',
       'Peter, Miss. Anna', 'Ekstrom, Mr. Johan', 'Drazenoic, Mr. Jozef',
       'Coelho, Mr. Domingos Fernandeo',
       'Robins, Mrs. Alexander A (Grace Charity Laury)',
       'Weisz, Mrs. Leopold (Mathilde Francoise Pede)',
       'Sobey, Mr. Samuel James Hayden', 'Richard, Mr. Emile',
       'Newsom, Miss. Helen Monypeny', 'Futrelle, Mr. Jacques Heath',
       'Osen, Mr. Olaf Elon', 'Giglio, Mr. Victor',
       'Boulos, Mrs. Joseph (Sultana)', 'Nysten, Miss. Anna Sofia',
       'Hakkarainen, Mrs. Pekka Pietari (Elin Matilda Dolck)',
       'Burke, Mr. Jeremiah', 'Andrew, Mr. Edgardo Samuel',
       'Nicholls, Mr. Joseph Charles',
       'Andersson, Mr. August Edvard ("Wennerstrom")',
       'Ford, Miss. Robina Maggie "Ruby"',
       'Navratil, Mr. Michel ("Louis M Hoffman")',
       'Byles, Rev. Thomas Roussel Davids', 'Bateman, Rev. Robert James',
       'Pears, Mrs. Thomas (Edith Wearne)', 'Meo, Mr. Alfonzo',
       'van Billiard, Mr. Austin Blyler', 'Olsen, Mr. Ole Martin',
       'Williams, Mr. Charles Duane', 'Gilnagh, Miss. Katherine "Katie"',
       'Corn, Mr. Harry', 'Smiljanic, Mr. Mile',
       'Sage, Master. Thomas Henry', 'Cribb, Mr. John Hatfield',
       'Watt, Mrs. James (Elizabeth "Bessie" Inglis Milne)',
       'Bengtsson, Mr. John Viktor', 'Calic, Mr. Jovo',
       'Panula, Master. Eino Viljami',
       'Goldsmith, Master. Frank John William "Frankie"',
       'Chibnall, Mrs. (Edith Martha Bowerman)',
       'Skoog, Mrs. William (Anna Bernhardina Karlsson)',
       'Baumann, Mr. John D', 'Ling, Mr. Lee',
       'Van der hoef, Mr. Wyckoff', 'Rice, Master. Arthur',
       'Johnson, Miss. Eleanor Ileen', 'Sivola, Mr. Antti Wilhelm',
       'Smith, Mr. James Clinch', 'Klasen, Mr. Klas Albin',
       'Lefebre, Master. Henry Forbes', 'Isham, Miss. Ann Elizabeth',
       'Hale, Mr. Reginald', 'Leonard, Mr. Lionel',
       'Sage, Miss. Constance Gladys', 'Pernot, Mr. Rene',
       'Asplund, Master. Clarence Gustaf Hugo',
       'Becker, Master. Richard F', 'Kink-Heilmann, Miss. Luise Gretchen',
       'Rood, Mr. Hugh Roscoe',
       'O\'Brien, Mrs. Thomas (Johanna "Hannah" Godfrey)',
       'Romaine, Mr. Charles Hallace ("Mr C Rolmane")',
       'Bourke, Mr. John', 'Turcin, Mr. Stjepan', 'Pinsky, Mrs. (Rosa)',
       'Carbines, Mr. William',
       'Andersen-Jensen, Miss. Carla Christine Nielsine',
       'Navratil, Master. Michel M',
       'Brown, Mrs. James Joseph (Margaret Tobin)',
       'Lurette, Miss. Elise', 'Mernagh, Mr. Robert',
       'Olsen, Mr. Karl Siegwart Andreas',
       'Madigan, Miss. Margaret "Maggie"',
       'Yrois, Miss. Henriette ("Mrs Harbeck")',
       'Vande Walle, Mr. Nestor Cyriel', 'Sage, Mr. Frederick',
       'Johanson, Mr. Jakob Alfred', 'Youseff, Mr. Gerious',
       'Cohen, Mr. Gurshon "Gus"', 'Strom, Miss. Telma Matilda',
       'Backstrom, Mr. Karl Alfred', 'Albimona, Mr. Nassef Cassem',
       'Carr, Miss. Helen "Ellen"', 'Blank, Mr. Henry', 'Ali, Mr. Ahmed',
       'Cameron, Miss. Clear Annie', 'Perkin, Mr. John Henry',
       'Givard, Mr. Hans Kristensen', 'Kiernan, Mr. Philip',
       'Newell, Miss. Madeleine', 'Honkanen, Miss. Eliina',
       'Jacobsohn, Mr. Sidney Samuel', 'Bazzani, Miss. Albina',
       'Harris, Mr. Walter', 'Sunderland, Mr. Victor Francis',
       'Bracken, Mr. James H', 'Green, Mr. George Henry',
       'Nenkoff, Mr. Christo', 'Hoyt, Mr. Frederick Maxfield',
       'Berglund, Mr. Karl Ivar Sven', 'Mellors, Mr. William John',
       'Lovell, Mr. John Hall ("Henry")', 'Fahlstrom, Mr. Arne Jonas',
       'Lefebre, Miss. Mathilde',
       'Harris, Mrs. Henry Birkhardt (Irene Wallach)',
       'Larsson, Mr. Bengt Edvin', 'Sjostedt, Mr. Ernst Adolf',
       'Asplund, Miss. Lillian Gertrud',
       'Leyson, Mr. Robert William Norman',
       'Harknett, Miss. Alice Phoebe', 'Hold, Mr. Stephen',
       'Collyer, Miss. Marjorie "Lottie"',
       'Pengelly, Mr. Frederick William', 'Hunt, Mr. George Henry',
       'Zabour, Miss. Thamine', 'Murphy, Miss. Katherine "Kate"',
       'Coleridge, Mr. Reginald Charles', 'Maenpaa, Mr. Matti Alexanteri',
       'Attalah, Mr. Sleiman', 'Minahan, Dr. William Edward',
       'Lindahl, Miss. Agda Thorilda Viktoria',
       'Hamalainen, Mrs. William (Anna)', 'Beckwith, Mr. Richard Leonard',
       'Carter, Rev. Ernest Courtenay', 'Reed, Mr. James George',
       'Strom, Mrs. Wilhelm (Elna Matilda Persson)',
       'Stead, Mr. William Thomas', 'Lobb, Mr. William Arthur',
       'Rosblom, Mrs. Viktor (Helena Wilhelmina)',
       'Touma, Mrs. Darwis (Hanne Youssef Razi)',
       'Thorne, Mrs. Gertrude Maybelle', 'Cherry, Miss. Gladys',
       'Ward, Miss. Anna', 'Parrish, Mrs. (Lutie Davis)',
       'Smith, Mr. Thomas', 'Asplund, Master. Edvin Rojj Felix',
       'Taussig, Mr. Emil', 'Harrison, Mr. William', 'Henry, Miss. Delia',
       'Reeves, Mr. David', 'Panula, Mr. Ernesti Arvid',
       'Persson, Mr. Ernst Ulrik',
       'Graham, Mrs. William Thompson (Edith Junkins)',
       'Bissette, Miss. Amelia', 'Cairns, Mr. Alexander',
       'Tornquist, Mr. William Henry',
       'Mellinger, Mrs. (Elizabeth Anne Maidment)',
       'Natsch, Mr. Charles H', 'Healy, Miss. Hanora "Nora"',
       'Andrews, Miss. Kornelia Theodosia',
       'Lindblom, Miss. Augusta Charlotta', 'Parkes, Mr. Francis "Frank"',
       'Rice, Master. Eric', 'Abbott, Mrs. Stanton (Rosa Hunt)',
       'Duane, Mr. Frank', 'Olsson, Mr. Nils Johan Goransson',
       'de Pelsmaeker, Mr. Alfons', 'Dorking, Mr. Edward Arthur',
       'Smith, Mr. Richard William', 'Stankovic, Mr. Ivan',
       'de Mulder, Mr. Theodore', 'Naidenoff, Mr. Penko',
       'Hosono, Mr. Masabumi', 'Connolly, Miss. Kate',
       'Barber, Miss. Ellen "Nellie"',
       'Bishop, Mrs. Dickinson H (Helen Walton)',
       'Levy, Mr. Rene Jacques', 'Haas, Miss. Aloisia',
       'Mineff, Mr. Ivan', 'Lewy, Mr. Ervin G', 'Hanna, Mr. Mansour',
       'Allison, Miss. Helen Loraine', 'Saalfeld, Mr. Adolphe',
       'Baxter, Mrs. James (Helene DeLaudeniere Chaput)',
       'Kelly, Miss. Anna Katherine "Annie Kate"', 'McCoy, Mr. Bernard',
       'Johnson, Mr. William Cahoone Jr', 'Keane, Miss. Nora A',
       'Williams, Mr. Howard Hugh "Harry"',
       'Allison, Master. Hudson Trevor', 'Fleming, Miss. Margaret',
       'Penasco y Castellana, Mrs. Victor de Satode (Maria Josefa Perez de Soto y Vallejo)',
       'Abelson, Mr. Samuel', 'Francatelli, Miss. Laura Mabel',
       'Hays, Miss. Margaret Bechstein', 'Ryerson, Miss. Emily Borie',
       'Lahtinen, Mrs. William (Anna Sylfven)', 'Hendekovic, Mr. Ignjac',
       'Hart, Mr. Benjamin', 'Nilsson, Miss. Helmina Josefina',
       'Kantor, Mrs. Sinai (Miriam Sternin)', 'Moraweck, Dr. Ernest',
       'Wick, Miss. Mary Natalie',
       'Spedden, Mrs. Frederic Oakley (Margaretta Corning Stone)',
       'Dennis, Mr. Samuel', 'Danoff, Mr. Yoto',
       'Slayter, Miss. Hilda Mary',
       'Caldwell, Mrs. Albert Francis (Sylvia Mae Harbaugh)',
       'Sage, Mr. George John Jr', 'Young, Miss. Marie Grice',
       'Nysveen, Mr. Johan Hansen', 'Ball, Mrs. (Ada E Hall)',
       'Goldsmith, Mrs. Frank John (Emily Alice Brown)',
       'Hippach, Miss. Jean Gertrude', 'McCoy, Miss. Agnes',
       'Partner, Mr. Austen', 'Graham, Mr. George Edward',
       'Vander Planke, Mr. Leo Edmondus',
       'Frauenthal, Mrs. Henry William (Clara Heinsheimer)',
       'Denkoff, Mr. Mitto', 'Pears, Mr. Thomas Clinton',
       'Burns, Miss. Elizabeth Margaret', 'Dahl, Mr. Karl Edwart',
       'Blackwell, Mr. Stephen Weart', 'Navratil, Master. Edmond Roger',
       'Fortune, Miss. Alice Elizabeth', 'Collander, Mr. Erik Gustaf',
       'Sedgwick, Mr. Charles Frederick Waddington',
       'Fox, Mr. Stanley Hubert', 'Brown, Miss. Amelia "Mildred"',
       'Smith, Miss. Marion Elsie',
       'Davison, Mrs. Thomas Henry (Mary E Finck)',
       'Coutts, Master. William Loch "William"', 'Dimic, Mr. Jovan',
       'Odahl, Mr. Nils Martin', 'Williams-Lambert, Mr. Fletcher Fellows',
       'Elias, Mr. Tannous', 'Arnold-Franchi, Mr. Josef',
       'Yousif, Mr. Wazli', 'Vanden Steen, Mr. Leo Peter',
       'Bowerman, Miss. Elsie Edith', 'Funk, Miss. Annie Clemmer',
       'McGovern, Miss. Mary', 'Mockler, Miss. Helen Mary "Ellie"',
       'Skoog, Mr. Wilhelm', 'del Carlo, Mr. Sebastiano',
       'Barbara, Mrs. (Catherine David)', 'Asim, Mr. Adola',
       "O'Brien, Mr. Thomas", 'Adahl, Mr. Mauritz Nils Martin',
       'Warren, Mrs. Frank Manley (Anna Sophia Atkinson)',
       'Moussa, Mrs. (Mantoura Boulos)', 'Jermyn, Miss. Annie',
       'Aubart, Mme. Leontine Pauline', 'Harder, Mr. George Achilles',
       'Wiklund, Mr. Jakob Alfred', 'Beavan, Mr. William Thomas',
       'Ringhini, Mr. Sante', 'Palsson, Miss. Stina Viola',
       'Meyer, Mrs. Edgar Joseph (Leila Saks)',
       'Landergren, Miss. Aurora Adelia', 'Widener, Mr. Harry Elkins',
       'Betros, Mr. Tannous', 'Gustafsson, Mr. Karl Gideon',
       'Bidois, Miss. Rosalie', 'Nakid, Miss. Maria ("Mary")',
       'Tikkanen, Mr. Juho',
       'Holverson, Mrs. Alexander Oskar (Mary Aline Towner)',
       'Plotcharsky, Mr. Vasil', 'Davies, Mr. Charles Henry',
       'Goodwin, Master. Sidney Leonard', 'Buss, Miss. Kate',
       'Sadlier, Mr. Matthew', 'Lehmann, Miss. Bertha',
       'Carter, Mr. William Ernest', 'Jansson, Mr. Carl Olof',
       'Gustafsson, Mr. Johan Birger', 'Newell, Miss. Marjorie',
       'Sandstrom, Mrs. Hjalmar (Agnes Charlotta Bengtsson)',
       'Johansson, Mr. Erik', 'Olsson, Miss. Elina',
       'McKane, Mr. Peter David', 'Pain, Dr. Alfred',
       'Trout, Mrs. William H (Jessie L)', 'Niskanen, Mr. Juha',
       'Adams, Mr. John', 'Jussila, Miss. Mari Aina',
       'Hakkarainen, Mr. Pekka Pietari', 'Oreskovic, Miss. Marija',
       'Gale, Mr. Shadrach', 'Widegren, Mr. Carl/Charles Peter',
       'Richards, Master. William Rowe',
       'Birkeland, Mr. Hans Martin Monsen', 'Lefebre, Miss. Ida',
       'Sdycoff, Mr. Todor', 'Hart, Mr. Henry', 'Minahan, Miss. Daisy E',
       'Cunningham, Mr. Alfred Fleming', 'Sundman, Mr. Johan Julian',
       'Meek, Mrs. Thomas (Annie Louise Rowley)',
       'Drew, Mrs. James Vivian (Lulu Thorne Christian)',
       'Silven, Miss. Lyyli Karoliina', 'Matthews, Mr. William John',
       'Van Impe, Miss. Catharina', 'Gheorgheff, Mr. Stanio',
       'Charters, Mr. David', 'Zimmerman, Mr. Leo',
       'Danbom, Mrs. Ernst Gilbert (Anna Sigrid Maria Brogren)',
       'Rosblom, Mr. Viktor Richard', 'Wiseman, Mr. Phillippe',
       'Clarke, Mrs. Charles V (Ada Maria Winfield)',
       'Phillips, Miss. Kate Florence ("Mrs Kate Louise Phillips Marshall")',
       'Flynn, Mr. James', 'Pickard, Mr. Berk (Berk Trembisky)',
       'Bjornstrom-Steffansson, Mr. Mauritz Hakan',
       'Thorneycroft, Mrs. Percival (Florence Kate White)',
       'Louch, Mrs. Charles Alexander (Alice Adelaide Slow)',
       'Kallio, Mr. Nikolai Erland', 'Silvey, Mr. William Baird',
       'Carter, Miss. Lucile Polk',
       'Ford, Miss. Doolina Margaret "Daisy"',
       'Richards, Mrs. Sidney (Emily Hocking)', 'Fortune, Mr. Mark',
       'Kvillner, Mr. Johan Henrik Johannesson',
       'Hart, Mrs. Benjamin (Esther Ada Bloomfield)', 'Hampe, Mr. Leon',
       'Petterson, Mr. Johan Emil', 'Reynaldo, Ms. Encarnacion',
       'Johannesen-Bratthammer, Mr. Bernt', 'Dodge, Master. Washington',
       'Mellinger, Miss. Madeleine Violet', 'Seward, Mr. Frederic Kimber',
       'Baclini, Miss. Marie Catherine', 'Peuchen, Major. Arthur Godfrey',
       'West, Mr. Edwy Arthur', 'Hagland, Mr. Ingvald Olai Olsen',
       'Foreman, Mr. Benjamin Laventall', 'Goldenberg, Mr. Samuel L',
       'Peduzzi, Mr. Joseph', 'Jalsevac, Mr. Ivan',
       'Millet, Mr. Francis Davis', 'Kenyon, Mrs. Frederick R (Marion)',
       'Toomey, Miss. Ellen', "O'Connor, Mr. Maurice",
       'Anderson, Mr. Harry', 'Morley, Mr. William', 'Gee, Mr. Arthur H',
       'Milling, Mr. Jacob Christian', 'Maisner, Mr. Simon',
       'Goncalves, Mr. Manuel Estanslas', 'Campbell, Mr. William',
       'Smart, Mr. John Montgomery', 'Scanlan, Mr. James',
       'Baclini, Miss. Helene Barbara', 'Keefe, Mr. Arthur',
       'Cacic, Mr. Luka', 'West, Mrs. Edwy Arthur (Ada Mary Worth)',
       'Jerwan, Mrs. Amin S (Marie Marthe Thuillard)',
       'Strandberg, Miss. Ida Sofia', 'Clifford, Mr. George Quincy',
       'Renouf, Mr. Peter Henry', 'Braund, Mr. Lewis Richard',
       'Karlsson, Mr. Nils August', 'Hirvonen, Miss. Hildur E',
       'Goodwin, Master. Harold Victor',
       'Frost, Mr. Anthony Wood "Archie"', 'Rouse, Mr. Richard Henry',
       'Turkula, Mrs. (Hedwig)', 'Bishop, Mr. Dickinson H',
       'Lefebre, Miss. Jeannie',
       'Hoyt, Mrs. Frederick Maxfield (Jane Anne Forby)',
       'Kent, Mr. Edward Austin', 'Somerton, Mr. Francis William',
       'Coutts, Master. Eden Leslie "Neville"',
       'Hagland, Mr. Konrad Mathias Reiersen', 'Windelov, Mr. Einar',
       'Molson, Mr. Harry Markland', 'Artagaveytia, Mr. Ramon',
       'Stanley, Mr. Edward Roland', 'Yousseff, Mr. Gerious',
       'Eustis, Miss. Elizabeth Mussey',
       'Shellard, Mr. Frederick William',
       'Allison, Mrs. Hudson J C (Bessie Waldo Daniels)',
       'Svensson, Mr. Olof', 'Calic, Mr. Petar', 'Canavan, Miss. Mary',
       "O'Sullivan, Miss. Bridget Mary", 'Laitinen, Miss. Kristina Sofia',
       'Maioni, Miss. Roberta',
       'Penasco y Castellana, Mr. Victor de Satode',
       'Quick, Mrs. Frederick Charles (Jane Richards)',
       'Bradley, Mr. George ("George Arthur Brayton")',
       'Olsen, Mr. Henry Margido', 'Lang, Mr. Fang',
       'Daly, Mr. Eugene Patrick', 'Webber, Mr. James',
       'McGough, Mr. James Robert',
       'Rothschild, Mrs. Martin (Elizabeth L. Barrett)',
       'Coleff, Mr. Satio', 'Walker, Mr. William Anderson',
       'Lemore, Mrs. (Amelia Milley)', 'Ryan, Mr. Patrick',
       'Angle, Mrs. William A (Florence "Mary" Agnes Hughes)',
       'Pavlovic, Mr. Stefo', 'Vovk, Mr. Janko', 'Lahoud, Mr. Sarkis',
       'Hippach, Mrs. Louis Albert (Ida Sophia Fischer)',
       'Kassem, Mr. Fared', 'Farrell, Mr. James', 'Ridsdale, Miss. Lucy',
       'Farthing, Mr. John', 'Salonen, Mr. Johan Werner',
       'Hocking, Mr. Richard George', 'Quick, Miss. Phyllis May',
       'Toufik, Mr. Nakli', 'Elias, Mr. Joseph Jr',
       'Peter, Mrs. Catherine (Catherine Rizk)', 'Cacic, Miss. Marija',
       'Hart, Miss. Eva Miriam', 'Butt, Major. Archibald Willingham',
       'LeRoy, Miss. Bertha', 'Risien, Mr. Samuel Beard',
       'Frolicher, Miss. Hedwig Margaritha', 'Crosby, Miss. Harriet R',
       'Andersson, Miss. Ingeborg Constanzia',
       'Andersson, Miss. Sigrid Elisabeth', 'Beane, Mr. Edward',
       'Douglas, Mr. Walter Donald', 'Nicholson, Mr. Arthur Ernest',
       'Beane, Mrs. Edward (Ethel Clarke)', 'Padro y Manent, Mr. Julian',
       'Goldsmith, Mr. Frank John', 'Davies, Master. John Morgan Jr',
       'Thayer, Mr. John Borland Jr', 'Sharp, Mr. Percival James R',
       "O'Brien, Mr. Timothy", 'Leeni, Mr. Fahim ("Philip Zenni")',
       'Ohman, Miss. Velin', 'Wright, Mr. George',
       'Duff Gordon, Lady. (Lucille Christiana Sutherland) ("Mrs Morgan")',
       'Robbins, Mr. Victor', 'Taussig, Mrs. Emil (Tillie Mandelbaum)',
       'de Messemaeker, Mrs. Guillaume Joseph (Emma)',
       'Morrow, Mr. Thomas Rowan', 'Sivic, Mr. Husein',
       'Norman, Mr. Robert Douglas', 'Simmons, Mr. John',
       'Meanwell, Miss. (Marion Ogden)', 'Davies, Mr. Alfred J',
       'Stoytcheff, Mr. Ilia',
       'Palsson, Mrs. Nils (Alma Cornelia Berglund)',
       'Doharr, Mr. Tannous', 'Jonsson, Mr. Carl', 'Harris, Mr. George',

In [325]:
data['Sex'].unique()

array(['male', 'female', 'malef', 'mal', 'fem', 'femmale'], dtype=object)

In [326]:
data['Age'].unique()

array(['22', '38', '26', '35', nan, '54', '2', '27', '14', '4', '58',
       '20', '55', '31', '34', '15', '8', '19', '40', '.9', '66', '28',
       '42', '21', '18', '3', '7', '49', '29', '65', '28,5', '5', '11',
       '45', '17', '32', '16', '25', '0,83', '30', '33', '23', '24', '46',
       '59', '71', '37', '47', '14,5', '70,5', '32,5', '12', '9', '36,5',
       '51', '55,5', '40,5', '44', '1', '61', '56', '50', '36', '45,5',
       '4435', '20,5', '62', '41', '52', '63', '23,5', '0,92', '43', '60',
       '39', '10', '64', '13', '48', '0,75', '-3', '-12', '53', '57',
       '80', '250', '70', '24,5', '6', '0,67', '30,5', '0,42', '34,5',
       '74'], dtype=object)

In [327]:
data['SibSp'].unique()

array([1, 0, 3, 4, 2, 5, 8], dtype=int64)

In [328]:
data['Parch'].unique()

array([0, 1, 2, 5, 3, 4], dtype=int64)

In [329]:
data['Ticket'].unique()

array(['A/5 21171', 'PC 17599', 'STON/O2. 3101282', '113803', '373450',
       '330877', '17463', '349909', '347742', '237736', 'PP 9549',
       '113783', 'A/5. 2151', '350406', '248706', '382652', '244373',
       '345763', '2649', '239865', '248698', '330923', '347077', '2631',
       '19950', '330959', '349216', 'PC 17601', 'PC 17569', '335677',
       'C.A. 24579', 'PC 17604', '113789', '2677', 'A./5. 2152', '345764',
       '2651', '7546', '11668', '349253', 'SC/Paris 2123', '330958',
       'S.C./A.4. 23567', '370371', '14311', '2662', '349237', '3101295',
       'A/4. 39886', 'PC 17572', '2926', '113509', '19947', 'C.A. 31026',
       '2697', 'C.A. 34651', 'CA 2144', '2669', '36973', '347088',
       'PC 17605', '2661', 'C.A. 29395', 'S.P. 3464', '3101281', '315151',
       'C.A. 33111', 'S.O.C. 14879', '2680', '1601', '348123', '349208',
       '374746', '248738', '364516', '345767', '345779', '330932',
       '113059', 'SO/C 14885', '3101278', 'W./C. 6608', 'SOTON/OQ 392086',
       '343275', '343276', '347466', 'W.E.P. 5734', 'C.A. 2315', '364500',
       '374910', 'PC 17754', 'PC 17759', '231919', '244367', '349245',
       '349215', '35281', '7540', '3101276', '349207', '343120', '312991',
       '349249', '371110', '110465', '2665', '324669', '4136', '2627',
       'STON/O 2. 3101294', '370369', 'PC 17558', '347082', 'A4. 54510',
       '27267', '370372', 'C 17369', '2668', '347061', '349241',
       'SOTON/O.Q. 3101307', 'A/5. 3337', '228414', 'C.A. 29178',
       'SC/PARIS 2133', '11752', '7534', 'PC 17593', '2678', '347081',
       'STON/O2. 3101279', '365222', '231945', 'C.A. 33112', '350043',
       '230080', '244310', 'S.O.P. 1166', '113776', 'A.5. 11206',
       'A/5. 851', 'Fa 265302', 'PC 17597', '35851', 'SOTON/OQ 392090',
       '315037', 'CA. 2343', '371362', 'C.A. 33595', '347068', '315093',
       '363291', '113505', 'PC 17318', '111240', 'STON/O 2. 3101280',
       '17764', '350404', '4133', 'PC 17595', '250653', 'LINE',
       'SC/PARIS 2131', '230136', '315153', '113767', '370365', '111428',
       '364849', '349247', '234604', '28424', '350046', 'PC 17610',
       '368703', '4579', '370370', '248747', '345770', '3101264', '2628',
       'A/5 3540', '347054', '2699', '367231', '112277',
       'SOTON/O.Q. 3101311', 'F.C.C. 13528', 'A/5 21174', '250646',
       '367229', '35273', 'STON/O2. 3101283', '243847', '11813',
       'W/C 14208', 'SOTON/OQ 392089', '220367', '21440', '349234',
       '19943', 'PP 4348', 'SW/PP 751', 'A/5 21173', '236171', '347067',
       '237442', 'C.A. 29566', 'W./C. 6609', '26707', 'C.A. 31921',
       '28665', 'SCO/W 1585', '367230', 'W./C. 14263',
       'STON/O 2. 3101275', '2694', '19928', '347071', '250649', '11751',
       '244252', '362316', '113514', 'A/5. 3336', '370129', '2650',
       'PC 17585', '110152', 'PC 17755', '230433', '384461', '110413',
       '112059', '382649', 'C.A. 17248', '347083', 'PC 17582', 'PC 17760',
       '113798', '250644', 'PC 17596', '370375', '13502', '347073',
       '239853', 'C.A. 2673', '336439', '347464', '345778', 'A/5. 10482',
       '113056', '349239', '345774', '349206', '237798', '370373',
       '19877', '11967', 'SC/Paris 2163', '349236', '349233', 'PC 17612',
       '2693', '113781', '19988', '9234', '367226', '226593', 'A/5 2466',
       '17421', 'PC 17758', 'P/PP 3381', 'PC 17485', '11767', 'PC 17608',
       '250651', '349243', 'F.C.C. 13529', '347470', '29011', '36928',
       '16966', 'A/5 21172', '349219', '234818', '345364', '28551',
       '111361', '113043', 'PC 17611', '349225', '7598', '113784',
       '248740', '244361', '229236', '248733', '31418', '386525',
       'C.A. 37671', '315088', '7267', '113510', '2695', '2647', '345783',
       '237671', '330931', '330980', 'SC/PARIS 2167', '2691',
       'SOTON/O.Q. 3101310', 'C 7076', '110813', '2626', '14313',
       'PC 17477', '11765', '3101267', '323951', 'C 7077', '113503',
       '2648', '347069', 'PC 17757', '2653', 'STON/O 2. 3101293',
       '349227', '27849', '367655', 'SC 1748', '113760', '350034',
       '3101277', '350052', '350407', '28403', '244278', '240929',
       'STON/O 2. 3101289', '341826', '4137', '315096', '28664', '347064',
       '29106', '312992', '349222', '394140', 'STON/O 2. 3101269',
       '343095', '28220', '250652', '28228', '345773', '349254',
       'A/5. 13032', '315082', '347080', 'A/4. 34244', '2003', '250655',
       '364851', 'SOTON/O.Q. 392078', '110564', '376564', 'SC/AH 3085',
       'STON/O 2. 3101274', '13507', 'C.A. 18723', '345769', '347076',
       '230434', '65306', '33638', '113794', '2666', '113786', '65303',
       '113051', '17453', 'A/5 2817', '349240', '13509', '17464',
       'F.C.C. 13531', '371060', '19952', '364506', '111320', '234360',
       'A/S 2816', 'SOTON/O.Q. 3101306', '113792', '36209', '323592',
       '315089', 'SC/AH Basle 541', '7553', '31027', '3460', '350060',
       '3101298', '239854', 'A/5 3594', '4134', '11771', 'A.5. 18509',
       '65304', 'SOTON/OQ 3101317', '113787', 'PC 17609', 'A/4 45380',
       '36947', 'C.A. 6212', '350035', '315086', '364846', '330909',
       '4135', '26360', '111427', 'C 4001', '382651', 'SOTON/OQ 3101316',
       'PC 17473', 'PC 17603', '349209', '36967', 'C.A. 34260', '226875',
       '349242', '349252', '2624', '2700', '367232', 'W./C. 14258',
       'PC 17483', '3101296', '29104', '2641', '2690', '315084', '113050',
       'PC 17761', '364498', '13568', 'WE/P 5735', '2908', '693',
       'SC/PARIS 2146', '244358', '330979', '2620', '347085', '113807',
       '11755', '345572', '372622', '349251', '218629', 'SOTON/OQ 392082',
       'SOTON/O.Q. 392087', 'A/4 48871', '349205', '2686', '350417',
       'S.W./PP 752', '11769', 'PC 17474', '14312', 'A/4. 20589',
       '358585', '243880', '2689', 'STON/O 2. 3101286', '237789', '13049',
       '3411', '237565', '13567', '14973', 'A./5. 3235',
       'STON/O 2. 3101273', 'A/5 3902', '364848', 'SC/AH 29037', '248727',
       '2664', '349214', '113796', '364511', '111426', '349910', '349246',
       '113804', 'SOTON/O.Q. 3101305', '370377', '364512', '220845',
       '31028', '2659', '11753', '350029', '54636', '36963', '219533',
       '349224', '334912', '27042', '347743', '13214', '112052', '237668',
       'STON/O 2. 3101292', '350050', '349231', '13213', 'S.O./P.P. 751',
       'CA. 2314', '349221', '8475', '330919', '365226', '349223',
       '29751', '2623', '5727', '349210', 'STON/O 2. 3101285', '234686',
       '312993', 'A/5 3536', '19996', '29750', 'F.C. 12750', 'C.A. 24580',
       '244270', '239856', '349912', '342826', '4138', '330935', '6563',
       '349228', '350036', '24160', '17474', '349256', '2672', '113800',
       '248731', '363592', '35852', '348121', 'PC 17475', '36864',
       '350025', '223596', 'PC 17476', 'PC 17482', '113028', '7545',
       '250647', '348124', '34218', '36568', '347062', '350048', '12233',
       '250643', '113806', '315094', '36866', '236853',
       'STON/O2. 3101271', '239855', '28425', '233639', '349201',
       '349218', '16988', '376566', 'STON/O 2. 3101288', '250648',
       '113773', '335097', '29103', '392096', '345780', '349204',
       '350042', '29108', '363294', 'SOTON/O2 3101272', '2663', '347074',
       '112379', '364850', '8471', '345781', '350047', 'S.O./P.P. 3',
       '2674', '29105', '347078', '383121', '36865', '2687', '113501',
       'W./C. 6607', 'SOTON/O.Q. 3101312', '374887', '3101265', '12460',
       'PC 17600', '349203', '28213', '17465', '349244', '2685', '2625',
       '347089', '347063', '112050', '347087', '248723', '3474', '28206',
       '364499', '112058', 'STON/O2. 3101290', 'S.C./PARIS 2079',
       'C 7075', '12749', '315098', '19972', '368323', '367228', '2671',
       '347468', '2223', 'PC 17756', '315097', '392092', '11774',
       'SOTON/O2 3101287', '2683', '315090', 'C.A. 5547', '349213',
       '347060', 'PC 17592', '392091', '113055', '2629', '350026',
       '28134', '17466', '233866', '236852', 'SC/PARIS 2149', 'PC 17590',
       '345777', '349248', '695', '345765', '2667', '349212', '349217',
       '349257', '7552', 'C.A./SOTON 34068', 'SOTON/OQ 392076', '211536',
       '112053', '111369', '370376'], dtype=object)

In [330]:
data['Fare'].unique()

array(['7,25', '71,2833', '7,925', '53,1', '8,05', '8,4583', '51,8625',
       '21,075', '11,1333', '30,0708', '16,7', '26,55', '7,8542', '16',
       '29,125', '13', '18', '7,225', '26', '8,0292', '31,3875', '263',
       '7,8792', '7,8958', '27,7208', '146,5208', '7,75', '10,5',
       '82,1708', '52', '7,2292', '11,2417', '9,475', '21', '41,5792',
       '15,5', '21,6792', '17,8', '39,6875', '7,8', '76,7292', '61,9792',
       '35,5', '27,75', '46,9', '83,475', '27,9', '15,2458', '8,1583',
       '8,6625', '73,5', '14,4542', '56,4958', '7,65', '29', '12,475',
       '9', '9,5', '7,7875', '47,1', '15,85', '34,375', '61,175',
       '20,575', '34,6542', '63,3583', '23', '77,2875', '8,6542', '7,775',
       '24,15', '9,825', '14,4583', '247,5208', '31,275', '7,1417',
       '22,3583', '6,975', '7,05', '14,5', '15,0458', '26,2833', '9,2167',
       '79,2', '6,75', '11,5', '36,75', '7,7958', '12,525', '66,6',
       '7,3125', '61,3792', '7,7333', '69,55', '16,1', '15,75', '20,525',
       '55', '25,925', '33,5', '30,6958', '25,4667', '28,7125', '0',
       '15,05', '39', '22,025', '50', '8,4042', '6,4958', '10,4625',
       '18,7875', '31', '113,275', '27', '76,2917', '90', '9,35', '13,5',
       '7,55', '26,25', '12,275', '7,125', '-90', '52,5542', '20,2125',
       '86,5', '512,3292', '79,65', '153,4625', '135,6333', '19,5',
       '29,7', '77,9583', '20,25', '78,85', '91,0792', '12,875', '8,85',
       '151,55', '30,5', '23,25', '12,35', '110,8833', '108,9', '24',
       '56,9292', '83,1583', '262,375', '14', '164,8667', '134,5',
       '6,2375', '57,9792', '28,5', '133,65', '15,9', '9,225', '35',
       '75,25', '69,3', '55,4417', '211,5', '4,0125', '227,525',
       '15,7417', '7,7292', '12', '120', '12,65', '18,75', '6,8583',
       '32,5', '7,875', '14,4', '55,9', '8,1125', '81,8583', '19,2583',
       '19,9667', '89,1042', '38,5', '7,725', '13,7917', '9,8375',
       '7,0458', '7,5208', '12,2875', '9,5875', '15,9a', '49,5042',
       '78,2667', '15,1', '7,6292', '22,525', '26,2875', '59,4', '7,4958',
       '34,0208', '221,7792', '106,425', '49,5', '71', '13,8625',
       '7,8292', '39,6', '17,4', '51,4792', '26,3875', '30', '40,125',
       '8,7125', '15', '33', '42,4', '15,55', '65', '32,3208', '7,0542',
       '8,4333', '25,5875', '9,8417', '8,1375', '10,1708', '211,3375',
       '57', '13,4167', '7,7417', '9,4833', '7,7375', '8,3625', '23,45',
       '25,9292', '8,6833', '8,5167', '7,8875', '37,0042', '6,45', '93,5',
       '6,95', '8,3', '6,4375', '39,4', '14,1083', '13,8583', '50,4958',
       '5', '9,8458', '10,5167'], dtype=object)

In [331]:
data['Embarked'].unique()

array(['S', 'C', 'Q', 'So', 'Co', 'Qe'], dtype=object)

Podsumowanie analizy:

Kolumna "Sex" posiada 4 wartości błędne, które powstały w wyniku pomyłki przy uzupełnianiu danych, mamy do czynienia z tzw. literówkami. Naszym rozwiązaniem będzie zamiana błędnych wartości na prawidłowe.

Przyglądając się wartościom kolumny "Age" możemy zauważyć problem z separatorem, który chcielibyśmy zamienić na separartor ".". Drugą rzeczą jest wystąpienie wartości pustych, rozwiązaniem może okazać się wykorzystanie metody na uzupełnienie pustych danych medianą. Ostatnią rzeczą jaką możemy dostrzec jest wystąpienie wartości ujemnych oraz bardzo dużych liczb.

W kolumnie "Fare" wystąpują przecinki jako separatory, zostaną one poprawione na kropki. Kolumna ta posiada jedną wartość ujemną co jest niedopuszczalne, ponieważ mówimy tutaj o cenie biletu. Rozwiązaniem tego problemu będzie usunięcie całego wiersza z wartością ujemną. Dodatkowo analizując zbiór możemy zauważyć jedną wartość nieliczbową, która zostanie zamieniona na liczbową.

W kolumnie "Embarked" możemy zauważyć zduplikowane wartości, rozwiązaniem będzie sprowadzenie ich tylko do 3 wartości według założeń dotyczących zmiennych w zbiorze danych.

W kolumnie "Ticket" znaleziono wartość "LINE", która nie oznacza numeru biletu zdecydowano na usunięcie wiersza.

W kolumnie "Name" zauważono niedopuczalne wartości takie jak :"&", "$" oraz cyfry, rozwiązaniem będzie usunięcie tylko tych znaków w wartościach bez konieczności usunięcia całych wierszy.

6. Rozwiązanie dostrzeżonych problemów w zbiorze

Kolumna "Sex"

In [332]:
data.replace({'malef': 'male', 'mal': 'male', 'fem': 'female', 'femmale': 'female'}, inplace=True) #zamiana błędnych wartości na odpowiednie

In [333]:
data['Sex'].unique() #wyświetlenie ponownie wartości w kolumnie Sex

array(['male', 'female'], dtype=object)

Kolumna "Age"

In [334]:
mediana = data['Age'].mode() #za pomocą funkcji mode() odnaleziona zostaje mediana
print('Mediana: ' + str(mediana[0]))
data['Age'] = data['Age'].fillna(str(mediana[0]))
print('Liczba pustych wartości dla Age: ')
print(data['Age'].isnull().sum())

Mediana: 24
Liczba pustych wartości dla Age:
0

In [335]:
data['Age'] = data['Age'].str.replace(",",".") #zamiana separatora "," na "."

In [336]:
data['Age'] = data['Age'].astype(float) #zmiana typu danych na float

In [337]:
print("Wartość max: " + str(data['Age'].max())) #wyliczenie wartości maksymalnej
print("Wartość min: " + str(data['Age'].min())) #wyliczenie wartości minimalnej

Wartość max: 4435.0
Wartość min: -12.0

Wyświetlony wiek maksymalny i minimalny posiada błędne wartości.

In [338]:
print(data[data['Age']<1][['Age', 'SibSp', 'Parch']]) #wyświetlenie wartości ujemnych
print(data[data['Age']>120][['Age', 'SibSp', 'Parch']]) #wyświetlenie wartości większych niż 120

       Age  SibSp  Parch
31    0.90      1      0
78    0.83      0      2
305   0.92      1      2
469   0.75      2      1
507  -3.00      0      0
522 -12.00      0      0
644   0.75      2      1
755   0.67      1      1
803   0.42      0      1
831   0.83      1      1
        Age  SibSp  Parch
223  4435.0      0      0
666   250.0      0      0

W zbiorze danych możemy zauważyć dwie wartości większe niż 100, dwie wartości ujemne oraz 8 dodatnich, ale mniejszych niż 1. Wartości ujemne i większe niż 120 zostaną zamienione na miedianę. Wartości z przedziału (0, 1) zostaną zamienione na 1.

In [339]:
data.loc[data['Age'] > 120, 'Age'] = float(mediana) # zamiana wieku powyżej 120 na medianę
data.loc[data['Age'] < 0, 'Age'] = float(mediana) # zamiana wieku poniżej 0 na medianę
data.loc[data['Age'] < 1, 'Age'] = float(1) # Zamiana wieku poniżej 1 na 1

print('Wiek mniejszy od 1 lub większy od 120:')
print(data[data['Age']<1][['Age', 'SibSp', 'Parch']])
print(data[data['Age']>120][['Age', 'SibSp', 'Parch']])

Wiek mniejszy od 1 lub większy od 120:
Empty DataFrame
Columns: [Age, SibSp, Parch]
Index: []
Empty DataFrame
Columns: [Age, SibSp, Parch]
Index: []

Kolumna "Fare"

In [340]:
data = data.copy();
data['Fare'] = data['Fare'].str.replace(",",".") # zamiana separatora "," na "."

In [341]:
data['Fare'].unique()

array(['7.25', '71.2833', '7.925', '53.1', '8.05', '8.4583', '51.8625',
       '21.075', '11.1333', '30.0708', '16.7', '26.55', '7.8542', '16',
       '29.125', '13', '18', '7.225', '26', '8.0292', '31.3875', '263',
       '7.8792', '7.8958', '27.7208', '146.5208', '7.75', '10.5',
       '82.1708', '52', '7.2292', '11.2417', '9.475', '21', '41.5792',
       '15.5', '21.6792', '17.8', '39.6875', '7.8', '76.7292', '61.9792',
       '35.5', '27.75', '46.9', '83.475', '27.9', '15.2458', '8.1583',
       '8.6625', '73.5', '14.4542', '56.4958', '7.65', '29', '12.475',
       '9', '9.5', '7.7875', '47.1', '15.85', '34.375', '61.175',
       '20.575', '34.6542', '63.3583', '23', '77.2875', '8.6542', '7.775',
       '24.15', '9.825', '14.4583', '247.5208', '31.275', '7.1417',
       '22.3583', '6.975', '7.05', '14.5', '15.0458', '26.2833', '9.2167',
       '79.2', '6.75', '11.5', '36.75', '7.7958', '12.525', '66.6',
       '7.3125', '61.3792', '7.7333', '69.55', '16.1', '15.75', '20.525',
       '55', '25.925', '33.5', '30.6958', '25.4667', '28.7125', '0',
       '15.05', '39', '22.025', '50', '8.4042', '6.4958', '10.4625',
       '18.7875', '31', '113.275', '27', '76.2917', '90', '9.35', '13.5',
       '7.55', '26.25', '12.275', '7.125', '-90', '52.5542', '20.2125',
       '86.5', '512.3292', '79.65', '153.4625', '135.6333', '19.5',
       '29.7', '77.9583', '20.25', '78.85', '91.0792', '12.875', '8.85',
       '151.55', '30.5', '23.25', '12.35', '110.8833', '108.9', '24',
       '56.9292', '83.1583', '262.375', '14', '164.8667', '134.5',
       '6.2375', '57.9792', '28.5', '133.65', '15.9', '9.225', '35',
       '75.25', '69.3', '55.4417', '211.5', '4.0125', '227.525',
       '15.7417', '7.7292', '12', '120', '12.65', '18.75', '6.8583',
       '32.5', '7.875', '14.4', '55.9', '8.1125', '81.8583', '19.2583',
       '19.9667', '89.1042', '38.5', '7.725', '13.7917', '9.8375',
       '7.0458', '7.5208', '12.2875', '9.5875', '15.9a', '49.5042',
       '78.2667', '15.1', '7.6292', '22.525', '26.2875', '59.4', '7.4958',
       '34.0208', '221.7792', '106.425', '49.5', '71', '13.8625',
       '7.8292', '39.6', '17.4', '51.4792', '26.3875', '30', '40.125',
       '8.7125', '15', '33', '42.4', '15.55', '65', '32.3208', '7.0542',
       '8.4333', '25.5875', '9.8417', '8.1375', '10.1708', '211.3375',
       '57', '13.4167', '7.7417', '9.4833', '7.7375', '8.3625', '23.45',
       '25.9292', '8.6833', '8.5167', '7.8875', '37.0042', '6.45', '93.5',
       '6.95', '8.3', '6.4375', '39.4', '14.1083', '13.8583', '50.4958',
       '5', '9.8458', '10.5167'], dtype=object)

In [342]:
data = data[data.Fare != '-90'] #usunięcie całego wiersza gdzie wartość w kolumnie Fare=-90

In [343]:
data['Fare'].unique() #ponowne wyświetlenie wartości kolumny Fare, możemy zauważyć brak wartości "-90"

array(['7.25', '71.2833', '7.925', '53.1', '8.05', '8.4583', '51.8625',
       '21.075', '11.1333', '30.0708', '16.7', '26.55', '7.8542', '16',
       '29.125', '13', '18', '7.225', '26', '8.0292', '31.3875', '263',
       '7.8792', '7.8958', '27.7208', '146.5208', '7.75', '10.5',
       '82.1708', '52', '7.2292', '11.2417', '9.475', '21', '41.5792',
       '15.5', '21.6792', '17.8', '39.6875', '7.8', '76.7292', '61.9792',
       '35.5', '27.75', '46.9', '83.475', '27.9', '15.2458', '8.1583',
       '8.6625', '73.5', '14.4542', '56.4958', '7.65', '29', '12.475',
       '9', '9.5', '7.7875', '47.1', '15.85', '34.375', '61.175',
       '20.575', '34.6542', '63.3583', '23', '77.2875', '8.6542', '7.775',
       '24.15', '9.825', '14.4583', '247.5208', '31.275', '7.1417',
       '22.3583', '6.975', '7.05', '14.5', '15.0458', '26.2833', '9.2167',
       '79.2', '6.75', '11.5', '36.75', '7.7958', '12.525', '66.6',
       '7.3125', '61.3792', '7.7333', '69.55', '16.1', '15.75', '20.525',
       '55', '25.925', '33.5', '30.6958', '25.4667', '28.7125', '0',
       '15.05', '39', '22.025', '50', '8.4042', '6.4958', '10.4625',
       '18.7875', '31', '113.275', '27', '76.2917', '90', '9.35', '13.5',
       '7.55', '26.25', '12.275', '7.125', '52.5542', '20.2125', '86.5',
       '512.3292', '79.65', '153.4625', '135.6333', '19.5', '29.7',
       '77.9583', '20.25', '78.85', '91.0792', '12.875', '8.85', '151.55',
       '30.5', '23.25', '12.35', '110.8833', '108.9', '24', '56.9292',
       '83.1583', '262.375', '14', '164.8667', '134.5', '6.2375',
       '57.9792', '28.5', '133.65', '15.9', '9.225', '35', '75.25',
       '69.3', '55.4417', '211.5', '4.0125', '227.525', '15.7417',
       '7.7292', '12', '120', '12.65', '18.75', '6.8583', '32.5', '7.875',
       '14.4', '55.9', '8.1125', '81.8583', '19.2583', '19.9667',
       '89.1042', '38.5', '7.725', '13.7917', '9.8375', '7.0458',
       '7.5208', '12.2875', '9.5875', '15.9a', '49.5042', '78.2667',
       '15.1', '7.6292', '22.525', '26.2875', '59.4', '7.4958', '34.0208',
       '221.7792', '106.425', '49.5', '71', '13.8625', '7.8292', '39.6',
       '17.4', '51.4792', '26.3875', '30', '40.125', '8.7125', '15', '33',
       '42.4', '15.55', '65', '32.3208', '7.0542', '8.4333', '25.5875',
       '9.8417', '8.1375', '10.1708', '211.3375', '57', '13.4167',
       '7.7417', '9.4833', '7.7375', '8.3625', '23.45', '25.9292',
       '8.6833', '8.5167', '7.8875', '37.0042', '6.45', '93.5', '6.95',
       '8.3', '6.4375', '39.4', '14.1083', '13.8583', '50.4958', '5',
       '9.8458', '10.5167'], dtype=object)

In [344]:
data.info() #dla sprawdzenia wyświetlamy ponownie podsumowanie naszego zbioru widzimy, że został "uszczuplony" o 1 wiersz

<class 'pandas.core.frame.DataFrame'>
Int64Index: 889 entries, 0 to 891
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  889 non-null    int64
 1   Survived     889 non-null    int64
 2   Pclass       889 non-null    int64
 3   Name         889 non-null    object
 4   Sex          889 non-null    object
 5   Age          889 non-null    float64
 6   SibSp        889 non-null    int64
 7   Parch        889 non-null    int64
 8   Ticket       889 non-null    object
 9   Fare         889 non-null    object
 10  Embarked     889 non-null    object
dtypes: float64(1), int64(5), object(5)
memory usage: 83.3+ KB

In [345]:
titanicbf = data['Fare'][data['Fare'].str.contains('[a-zA-Z@_!#$%^&*()<>?/|}{~:]')] #wyszukanie wartości nieliczbowej

print(titanicbf) #wyświetlenie znalezionej wartości nieliczbowej

489    15.9a
Name: Fare, dtype: object

In [346]:
data.loc[data.index == 489, 'Fare'] = '15.9' #zamiana wartości nieliczbowej na wartość liczbową "15,9"

print(data['Fare'][data.index == 489]) #wyświetlenie wartości o wskazanym indeksie

489    15.9
Name: Fare, dtype: object

Kolumna "Embarked"

In [347]:
data.replace({'So': 'S', 'Co': 'C', 'Qe': 'Q'}, inplace=True) #zamiana zduplikowanych wartości

In [348]:
data['Embarked'].unique() #ponowne wyświetlenie wartości w kolumnie Embarked

array(['S', 'C', 'Q'], dtype=object)

Kolumna "Ticket"

In [349]:
data = data[data.Ticket != 'LINE'] #usunięcie wierszy gdzie wartość w kolumnie Ticket=LINE

In [350]:
data['Ticket'].unique() #ponowne wyświetlenie wartości kolumny Ticket, możemy zauważyć brak wartości "LINE"

array(['A/5 21171', 'PC 17599', 'STON/O2. 3101282', '113803', '373450',
       '330877', '17463', '349909', '347742', '237736', 'PP 9549',
       '113783', 'A/5. 2151', '350406', '248706', '382652', '244373',
       '345763', '2649', '239865', '248698', '330923', '347077', '2631',
       '19950', '330959', '349216', 'PC 17601', 'PC 17569', '335677',
       'C.A. 24579', 'PC 17604', '113789', '2677', 'A./5. 2152', '345764',
       '2651', '7546', '11668', '349253', 'SC/Paris 2123', '330958',
       'S.C./A.4. 23567', '370371', '14311', '2662', '349237', '3101295',
       'A/4. 39886', 'PC 17572', '2926', '113509', '19947', 'C.A. 31026',
       '2697', 'C.A. 34651', 'CA 2144', '2669', '36973', '347088',
       'PC 17605', '2661', 'C.A. 29395', 'S.P. 3464', '3101281', '315151',
       'C.A. 33111', 'S.O.C. 14879', '2680', '1601', '348123', '349208',
       '374746', '248738', '364516', '345767', '345779', '330932',
       '113059', 'SO/C 14885', '3101278', 'W./C. 6608', 'SOTON/OQ 392086',
       '343275', '343276', '347466', 'W.E.P. 5734', 'C.A. 2315', '364500',
       '374910', 'PC 17754', 'PC 17759', '231919', '244367', '349245',
       '349215', '35281', '7540', '3101276', '349207', '343120', '312991',
       '349249', '371110', '110465', '2665', '324669', '4136', '2627',
       'STON/O 2. 3101294', '370369', 'PC 17558', '347082', 'A4. 54510',
       '27267', '370372', 'C 17369', '2668', '347061', '349241',
       'SOTON/O.Q. 3101307', 'A/5. 3337', '228414', 'C.A. 29178',
       'SC/PARIS 2133', '11752', '7534', 'PC 17593', '2678', '347081',
       'STON/O2. 3101279', '365222', '231945', 'C.A. 33112', '350043',
       '230080', '244310', 'S.O.P. 1166', '113776', 'A.5. 11206',
       'A/5. 851', 'Fa 265302', 'PC 17597', '35851', 'SOTON/OQ 392090',
       '315037', 'CA. 2343', '371362', 'C.A. 33595', '347068', '315093',
       '363291', '113505', 'PC 17318', '111240', 'STON/O 2. 3101280',
       '17764', '350404', '4133', 'PC 17595', '250653', 'SC/PARIS 2131',
       '230136', '315153', '113767', '370365', '111428', '364849',
       '349247', '234604', '28424', '350046', 'PC 17610', '368703',
       '4579', '370370', '248747', '345770', '3101264', '2628',
       'A/5 3540', '347054', '2699', '367231', '112277',
       'SOTON/O.Q. 3101311', 'F.C.C. 13528', 'A/5 21174', '250646',
       '367229', '35273', 'STON/O2. 3101283', '243847', '11813',
       'W/C 14208', 'SOTON/OQ 392089', '220367', '21440', '349234',
       '19943', 'PP 4348', 'SW/PP 751', 'A/5 21173', '236171', '347067',
       '237442', 'C.A. 29566', 'W./C. 6609', '26707', 'C.A. 31921',
       '28665', 'SCO/W 1585', '367230', 'W./C. 14263',
       'STON/O 2. 3101275', '2694', '347071', '250649', '11751', '244252',
       '362316', '113514', 'A/5. 3336', '370129', '2650', 'PC 17585',
       '110152', 'PC 17755', '230433', '384461', '110413', '112059',
       '382649', 'C.A. 17248', '347083', 'PC 17582', 'PC 17760', '113798',
       '250644', 'PC 17596', '370375', '13502', '347073', '239853',
       'C.A. 2673', '336439', '347464', '345778', 'A/5. 10482', '113056',
       '349239', '345774', '349206', '237798', '370373', '19877', '11967',
       'SC/Paris 2163', '349236', '349233', 'PC 17612', '2693', '113781',
       '19988', '9234', '367226', '226593', 'A/5 2466', '17421',
       'PC 17758', 'P/PP 3381', 'PC 17485', '11767', 'PC 17608', '250651',
       '349243', 'F.C.C. 13529', '347470', '29011', '36928', '16966',
       'A/5 21172', '349219', '234818', '345364', '28551', '111361',
       '113043', 'PC 17611', '349225', '7598', '113784', '248740',
       '244361', '229236', '248733', '31418', '386525', 'C.A. 37671',
       '315088', '7267', '113510', '2695', '2647', '345783', '237671',
       '330931', '330980', 'SC/PARIS 2167', '2691', 'SOTON/O.Q. 3101310',
       'C 7076', '110813', '2626', '14313', 'PC 17477', '11765',
       '3101267', '323951', 'C 7077', '113503', '2648', '347069',
       'PC 17757', '2653', 'STON/O 2. 3101293', '349227', '27849',
       '367655', 'SC 1748', '113760', '350034', '3101277', '350052',
       '350407', '28403', '244278', '240929', 'STON/O 2. 3101289',
       '341826', '4137', '315096', '28664', '347064', '29106', '312992',
       '349222', '394140', '19928', 'STON/O 2. 3101269', '343095',
       '28220', '250652', '28228', '345773', '349254', 'A/5. 13032',
       '315082', '347080', 'A/4. 34244', '2003', '250655', '364851',
       'SOTON/O.Q. 392078', '110564', '376564', 'SC/AH 3085',
       'STON/O 2. 3101274', '13507', 'C.A. 18723', '345769', '347076',
       '230434', '65306', '33638', '113794', '2666', '113786', '65303',
       '113051', '17453', 'A/5 2817', '349240', '13509', '17464',
       'F.C.C. 13531', '371060', '19952', '364506', '111320', '234360',
       'A/S 2816', 'SOTON/O.Q. 3101306', '113792', '36209', '323592',
       '315089', 'SC/AH Basle 541', '7553', '31027', '3460', '350060',
       '3101298', '239854', 'A/5 3594', '4134', '11771', 'A.5. 18509',
       '65304', 'SOTON/OQ 3101317', '113787', 'PC 17609', 'A/4 45380',
       '36947', 'C.A. 6212', '350035', '315086', '364846', '330909',
       '4135', '26360', '111427', 'C 4001', '382651', 'SOTON/OQ 3101316',
       'PC 17473', 'PC 17603', '349209', '36967', 'C.A. 34260', '226875',
       '349242', '349252', '2624', '2700', '367232', 'W./C. 14258',
       'PC 17483', '3101296', '29104', '2641', '2690', '315084', '113050',
       'PC 17761', '364498', '13568', 'WE/P 5735', '2908', '693',
       'SC/PARIS 2146', '244358', '330979', '2620', '347085', '113807',
       '11755', '345572', '372622', '349251', '218629', 'SOTON/OQ 392082',
       'SOTON/O.Q. 392087', 'A/4 48871', '349205', '2686', '350417',
       'S.W./PP 752', '11769', 'PC 17474', '14312', 'A/4. 20589',
       '358585', '243880', '2689', 'STON/O 2. 3101286', '237789', '13049',
       '3411', '237565', '13567', '14973', 'A./5. 3235',
       'STON/O 2. 3101273', 'A/5 3902', '364848', 'SC/AH 29037', '248727',
       '2664', '349214', '113796', '364511', '111426', '349910', '349246',
       '113804', 'SOTON/O.Q. 3101305', '370377', '364512', '220845',
       '31028', '2659', '11753', '350029', '54636', '36963', '219533',
       '349224', '334912', '27042', '347743', '13214', '112052', '237668',
       'STON/O 2. 3101292', '350050', '349231', '13213', 'S.O./P.P. 751',
       'CA. 2314', '349221', '8475', '330919', '365226', '349223',
       '29751', '2623', '5727', '349210', 'STON/O 2. 3101285', '234686',
       '312993', 'A/5 3536', '19996', '29750', 'F.C. 12750', 'C.A. 24580',
       '244270', '239856', '349912', '342826', '4138', '330935', '6563',
       '349228', '350036', '24160', '17474', '349256', '2672', '113800',
       '248731', '363592', '35852', '348121', 'PC 17475', '36864',
       '350025', '223596', 'PC 17476', 'PC 17482', '113028', '7545',
       '250647', '348124', '34218', '36568', '347062', '350048', '12233',
       '250643', '113806', '315094', '36866', '236853',
       'STON/O2. 3101271', '239855', '28425', '233639', '349201',
       '349218', '16988', '376566', 'STON/O 2. 3101288', '250648',
       '113773', '335097', '29103', '392096', '345780', '349204',
       '350042', '29108', '363294', 'SOTON/O2 3101272', '2663', '347074',
       '112379', '364850', '8471', '345781', '350047', 'S.O./P.P. 3',
       '2674', '29105', '347078', '383121', '36865', '2687', '113501',
       'W./C. 6607', 'SOTON/O.Q. 3101312', '374887', '3101265', '12460',
       'PC 17600', '349203', '28213', '17465', '349244', '2685', '2625',
       '347089', '347063', '112050', '347087', '248723', '3474', '28206',
       '364499', '112058', 'STON/O2. 3101290', 'S.C./PARIS 2079',
       'C 7075', '12749', '315098', '19972', '368323', '367228', '2671',
       '347468', '2223', 'PC 17756', '315097', '392092', '11774',
       'SOTON/O2 3101287', '2683', '315090', 'C.A. 5547', '349213',
       '347060', 'PC 17592', '392091', '113055', '2629', '350026',
       '28134', '17466', '233866', '236852', 'SC/PARIS 2149', 'PC 17590',
       '345777', '349248', '695', '345765', '2667', '349212', '349217',
       '349257', '7552', 'C.A./SOTON 34068', 'SOTON/OQ 392076', '211536',
       '112053', '111369', '370376'], dtype=object)

Kolumna "Name"

In [351]:
data = data.copy()
titanicbn = data[data['Name'].str.contains('[@_!#$%^&*<>?/\|}{~:]')] #użycie metody contains() do wyszukania znaków specjalnych

print(titanicbn)

     PassengerId  Survived  Pclass                                Name  \
10            11         1       3  Sandstrom, Miss. Marguerite Ru&5$$
13            11         1       3  Sandstrom, Miss. Marguerite Ru&5$$
23            11         1       3  Sandstrom, Miss. Marguerite Ru&5$$
406          407         0       3    Widegren, Mr. Carl/Charles Peter

        Sex   Age  SibSp  Parch   Ticket  Fare Embarked
10   female   4.0      1      1  PP 9549  16.7        S
13   female   4.0      1      1  PP 9549  16.7        S
23   female   4.0      1      1  PP 9549  16.7        S
406    male  51.0      0      0   347064  7.75        S

Przy wyświetleniu wartości ze znakami specjalnymi z kolumny "Name" zobaczyliśmy, że jeden rekord posiada zdublowane wartości.

In [352]:
data = data.drop_duplicates(inplace=False) #usunięcie duplikatów

print(data['Name'].describe(include=['object']))

count                         882
unique                        882
top       Lefebre, Miss. Mathilde
freq                            1
Name: Name, dtype: object

Ponownie wyświetlamy wartości ze znakami specjalnymi możemy zobaczyć, że problem został usunięty.

In [353]:
data = data.copy()
titanicbn = data[data['Name'].str.contains('[@_!#$%^&*<>?/\|}{~:]')] #użycie metody contains() do wyszukania znaków specjalnych

print(titanicbn)

     PassengerId  Survived  Pclass                                Name  \
10            11         1       3  Sandstrom, Miss. Marguerite Ru&5$$
406          407         0       3    Widegren, Mr. Carl/Charles Peter

        Sex   Age  SibSp  Parch   Ticket  Fare Embarked
10   female   4.0      1      1  PP 9549  16.7        S
406    male  51.0      0      0   347064  7.75        S

In [354]:
data['Name'] = data['Name'].str.replace('&', '') #usunięcie "&" z wartości w kolumnie Name

In [355]:
data['Name'] = data['Name'].str.replace('$', '') #usunięcie "$" z wartości w kolumnie Name

In [356]:
data['Name'] = data['Name'].str.replace('5', '') #usunięcie "5" z wartości w kolumnie Name

In [357]:
print(data['Name'][data.index == 10]) #wyświetlenie wiersza o podanym indeksie w celu zweryfikowania zmian

10    Sandstrom, Miss. Marguerite Ru
Name: Name, dtype: object

7. Zapis poprawionych danych do pliku.

In [358]:
titanicc = data.copy();

In [359]:
titanicc.to_csv(r'TitanicCleaned.tsv', sep='\t')

Wykonała: Magda Dytkowicz.